extends ./_layout

block title
  title Griddle Cakes

block content
  .container
    .top
      h1 This is the top container
    .bottom
      .left
        h2 This is the left container
        h2 This is the left container
        h2 This is the left container
        h2 This is the left container
        h2 This is the left container
        h2 This is the left container
      .right
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
        div
          .item
          p Buy this thing!
          p It's $100!
